<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Posts</h1>
<div class="container posts-container">
    <% blogPosts.forEach(function(post){ %>
        <img class="post-img-preview" src="data:image/<%=post.titleImg.contentType%>;base64,<%=post.titleImg.data.toString('base64')%>" alt="" width="300" height="500">
        <h3><%=post.title%></h3>
        <p><%=post.content%></p>
        <p><%=post.adminId%></p>
        <p><%=post.authorEmail%></p>
        <p><%=post.authorName%></p>
        <p><%=post.createdAt%></p>
        <h3>Post Comments</h3>
        <% if(showComment){ %>
            <form action="/blogs" method="post">
                <label for="comment">Type your comment</label>
                <textarea name="comment" id="" cols="50" rows="4" style="resize: none"></textarea>
                <input type="hidden" name="blogId" value="<%=post._id%>">
                <button type="submit">Submit</button>
            </form>
        <% } else { %>
            <h3>Login to comment on post</h3>
        <% } %>
        <% post.comments.forEach(function(comment){ %>
            <p><%=comment.userId%></p>
            <p><%=comment.name%></p>
            <p><%=comment.body%></p>
            <p><%=comment.date%></p>
        <% }) %>
    <% }); %>
  </div>

</body>
</html>