<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requested Counsellor</title>
</head>
<body>
    <div>
        <% if(requestedCounsellor.userImg != null) { %>
            <img src="data:image/<%=requestedCounsellor.userImg.contentType%>;base64,<%=requestedCounsellor.userImg.data.toString('base64')%>" alt="counsellor-avatar" width="250" height="250">
        <% } %>

        <p style="font-style: italic;">Categories</p>
        <% if(requestedCounsellor.categories != null) { %>
            <% requestedCounsellor.categories.forEach(function(category){ %>
                <h6 style="display: inline-block;">#<%=category%></h6>
            <% }) %>
        <% } %>

        <p style="font-style: italic;">Description</p>
        <p><%=requestedCounsellor.bio%></p>

        <h3>Available Timings</h3>
        <% if(requestedCounsellor.timings != null) { %>
            <ul>
            <% requestedCounsellor.timings.forEach(function(timing){ %>
                <li><%=timing%></li>
            <% }) %>
            </ul>
        <% } %>

        <% if(isAuth && userType == 0){ %>
            <a href="/hirecounsellor/<%=requestedCounsellor._id%>/confirm%20details" >Hire <%=requestedCounsellor.name%></a>
        <% } else if(isAuth && userType == 1) { %>
            <h3>Only Students can Hire a counsellor</h3>
        <% } else { %>
            <h3>Please Sign In to Hire a Counsellor</h3>
        <% } %>
        
    </div>
</body>
</html>