<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
</head>
<style>
    a{
        text-decoration: none;
    }
    a:link, a:visited{
        color: black;
    }
</style>
<body>

    <form action="/search/counsellors" method="post">
        <input type="text" name="search" placeholder="counsellor name or category">
        <button type="submit">Search</button>
    </form>
    <br>
    <br>

    <% if(requestedCounsellors.length != 0){ %>
        <% requestedCounsellors.forEach(function(counsellor){ %>
            <a href="/counsellors/<%=counsellor._id%>">
                <div>
                    <% if(counsellor.userImg != null) { %>
                        <img src="data:image/<%=counsellor.userImg.contentType%>;base64,<%=counsellor.userImg.data.toString('base64')%>" alt="counsellor-avatar" width="250" height="250">
                    <% } %>
    
                    <p><%=counsellor.name%></p>
                    <p style="font-style: italic;">Categories</p>
                    <% if(counsellor.categories != null) { %>
                        <% counsellor.categories.forEach(function(category){ %>
                            <h6 style="display: inline-block;">#<%=category%></h6>
                        <% }) %>
                    <% } %>
    
                    <p style="font-style: italic;">Description</p>
                    <p><%=counsellor.bio%></p>
                </div>
            </a>
        <% }) %>
    <% } else { %>
        <h3>No Counsellors found</h3>
    <% } %>

</body>
</html>