<%- include('partials/header') %>
<script src="https://cdn.tiny.cloud/1/h67jmhzlup8m5gb0hacl6p7gg5ynszhk7kohlsrrlldhjbn3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<title>Create Blog</title>
</head>
<body>
  <%- include('partials/navbar') %>
  <!-- Submit New Post -->
  <div class="u-container">
    <form action="/create" method="post" enctype="multipart/form-data">
      <div class="mb-3 text-center" style="width: 320px; margin: auto;">
        <label class="form-label" for="postImage">Upload Banner Image</label>
        <input class="form-control" type="file" name="postImage" id="file" accept="image/png,image/jpeg,image/jpg,image/gif,.webp" required>
      </div>
      
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" required>
      </div>

      <div class="mb-3">
        <label class="form-label" for="content">Blog Content</label>
        <textarea name="content">
          Welcome to Eduling
        </textarea>
      </div>
      
      <div class="mb-3">
        <button class="btn btn-md btn-edu-secondary" type="submit" name="button">Create Blog</button>
      </div>
      
    </form>
  
    <% if(adminBlogs.length != 0){ %>
      <h3 class="page-heading text-center mt-4 mb-4">Your Blogs</h3>
      <div class="row">
        <% adminBlogs.forEach(function(blog){ %>
          <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12">
            <a href="/update/<%=blog._id%>">
              <div>
                <div class="mb-3">
                  <img class="blog-banner-image" src="data:image/<%=blog.titleImg.contentType%>;base64,<%=blog.titleImg.data.toString('base64')%>" alt="banner-image">
                </div>
                <div class="mb-3">
                  <h3 class="blog-card-heading me-2"><%=blog.title%></h3><p class="blog-card-date">(<%= blog.createdAt.toString().substring(4, 15) %>)</p>
                  <p class="blog-card-author-name"><%=blog.authorName%></p>
                </div> 
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    <% } %>
  </div>
    
  
  <script>
    // set limit of title image up to 1MB
    let uploadField = document.getElementById("file");
    
    uploadField.onchange = function() {
        if(this.files[0].size > 1048576){
            alert("File is too big!");
            this.value = "";
        };
    };

    // tinymce text editor function
    tinymce.init({
      selector: 'textarea',
      height: 600,
      menubar: false,
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
    });
  </script>
<%- include('partials/footer') %>