<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tiny.cloud/1/gwnupy4nvlshpim31wh0p406bc1kewk7xqlegl2ph1lq1dup/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Dashboard</title>
</head>
<body>
    <div>
        <% if(userAvatar != null) { %>
            <img class="avatar" src="data:image/<%=userAvatar.contentType%>;base64,<%=userAvatar.data.toString('base64')%>" alt="profile avatar" width="150" height="150"><br>
        <% } else { %>
            <h1>Upload your avatar</h1>
        <% } %>
        
        <form action="/user/dashboard/avatar" method="post" enctype="multipart/form-data">
            <label for="userImg">Upload Image</label><br>
            <input type="file" name="userImg" id="file" accept="image/png,image/jpeg,image/jpg,image/gif,.webp" required><br>
            <button type="submit">Update your avatar</button>
        </form>
        <form action="/user/dashboard/status" method="post">
            <label for="name">Name</label><br>
            <input type="text" name="name" value="<%=userName%>"><br>

            <% if(userType == 1) { %>
                <label for="categories">Categories</label><br>
                <% if(userCategories != null) { %>
                    <% userCategories.forEach(function(category){ %>
                        <h6 style="display: inline-block;">#<%=category%></h6>
                    <% }) %>
                <% } %>
                <br>
                <input type="text" name="categories" placeholder="category1, category2, ..." value="<%=userCategories%>"><br>
            <% } %>

            <label for="bio">Bio</label><br>
            <textarea name="bio" id="" cols="60" rows="6" style="resize: none;"><%-userBio%></textarea><br>

            <% if(userType == 1) { %>
                <label for="timings">Available Counselling Timings</label><br>
                <% if(userTimings != null) { %>
                    <ul>
                    <% userTimings.forEach(function(timing){ %>
                        <li><%=timing%></li>
                    <% }) %>
                    </ul>
                <% } %>
                <br>
                <textarea name="timings" placeholder="Day & Time 1, Day & Time 2, ..." id="" cols="60" rows="2" style="resize: none;"><%=userTimings%></textarea><br>
            <% } %>

            <button type="submit">Update your status</button>
            <button type="button" onclick="window.location.href='/blogs'">Continue to blog</button>
            <button type="button" onclick="window.location.href='/user/responses'">Check responses or requests</button>
        </form>
    </div>
    <script>
        // set limit of title image up to 1MB
        let uploadField = document.getElementById("file");
        
        uploadField.onchange = function() {
            if(this.files[0].size > 1048576){
               alert("File is too big!");
               this.value = "";
            };
        };

        // tinymce text editor function
        tinymce.init({
        selector: 'textarea',
        height: 400,
        menubar: false,
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        });
    </script>
</body>
</html>