<%- include('partials/header') %>
<title>Home</title>
</head>
<body>
<%- include('partials/navbar') %>
<!-- Hero Section -->
<section id="hero">
        <div class="u-container ">
            <div class="row">
                <div class="col col-lg-6 text-left hero-col-left">
                    <h1 class="hero-big-heading">Get Quality Consulation<br>Through Eduling</h1>
                    <h3 class="hero-small-heading">Build Your Successful Career<br>Now</h3>
                    <p class="hero-text">Eduling create your career path and lead you towards your successful career</p>
                    <div class="row">
                        <div class="col col-lg-3 hero-btn-col">
                            <button class="btn btn-lg btn-edu-primary" onclick="window.location.href='/signup'">Sign Up</button>
                        </div>
                        <div class="col">
                            <a href="#">
                                <div class="row">
                                    <div class="col col-lg-2 hero-btn-col"><i class="fa-solid fa-circle-play"></i></div>
                                    <div class="col col-lg-4"><p class="play-text">See How it Works</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 hero-col-right">
                    <img src="../assets/Hero Image.png" alt="hero-image">
                </div>
            </div>
        </div>
</section>
<!-- Hero Section -->

<!-- counters -->
<section id="counters">
    <div class="container-fluid counters">
        <div class="row">
            <div class="col-md-3">
                <h4><%=otherCounters.blogCount%></h4>
                <p>Blog Reads</p>
            </div>
            <div class="col-md-3">
                <h4><%=counsellorCount%></h4>
                <p>Expert Counselors</p>
            </div>
            <div class="col-md-3">
                <h4><%=otherCounters.resumeCount%></h4>
                <p>Resume Creates</p>
            </div>
            <div class="col-md-3">
                <h4><%=otherCounters.hireCount%></h4>
                <p>Hired Counselors</p>
            </div>
        </div>
    </div>
</section>
<!-- counters -->

<!-- Why Choose Us-->
<section id="why-choose-us">
    <div class="u-container ">
        <h4 class="choose-us-soft-heading primary-color-heading text-center">WHY CHOOSE US</h4>
        <h1 class="choose-us-heading text-center">Benefits Of Consulation<br>Services at Eduling</h1>
        <div class="container">
            <div class="row">
                <div class="col col-lg-3">
                    <img src="../assets/One on one icon.png" alt="One on one icon">
                    <h4 class="feature-heading">One-On-One Consulation</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="../assets/time icon.png" alt="time icon">
                    <h4 class="feature-heading">24/7 Availability</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="../assets/resume icon.png" alt="resume icon">
                    <h4 class="feature-heading">Interactive Resume Builder</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="../assets/price icon.png" alt="price icon">
                    <h4 class="feature-heading">Affordable Prices</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us-->

<!-- About Us -->
<section id="about-us">
    <div class="u-container ">
        <div class="row">
            <div class="col col-lg-6 text-left">
                <img src="../assets/About us image.png" alt="about us image">
            </div>
            <div class="col col-lg-6 text-left">
                <h4 class="primary-color-heading">ABOUT US</h4>
                <h1 class="section-big-heading">Talented and Highly Qualified Counselors to Serve You</h1>
                <p class="bluepara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-lg btn-edu-primary" onclick="window.location.href='/signup'">learn More</button>
            </div>
        </div>
    </div>
</section>
<!-- About Us -->

<!-- Schedule -->
<section id="schedule">
    <div class="u-container ">
        <div class="row">
            <div class="col col-lg-6 text-left">
                <h4 class="primary-color-heading">FLEXIBLE TIMINGS WITH YOUR SCHEDULE</h4>
                <h1 class="section-big-heading">Set Meetings with Our Professional Counselors on Your Schedule</h1>
                <p class="bluepara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <button class="btn btn-lg btn-edu-primary" onclick="window.location.href='/signup'">Hire a Counselor</button>
            </div>
            <div class="col col-lg-6 text-left">
                <img src="../assets/Images group.png" alt="schedule image">
            </div>
        </div>
    </div>
</section>
<!-- Schedule -->

<!-- Resume Builder -->
<section id="resume-builder">
    <div class="u-container ">
        <div class="row">
            <div class="col col-lg-6 text-left">
                <img src="../assets/Images group (1).png" alt="Resume Builder image">
            </div>
            <div class="col col-lg-6 text-left">
                <h4 class="primary-color-heading">EASY AND FAST RESUME BUILDER</h4>
                <h1 class="section-big-heading">Create Your Resume Easily with More than 10 Countries Resume Templates</h1>
                <p class="bluepara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-lg btn-edu-primary" onclick="window.location.href='/signup'">Test Now</button>
            </div>
        </div>
    </div>
</section>
<!-- Resume Builder -->

<!-- Questionnaire -->
<section id="questionnaire">
    <div class="u-container ">
        <div class="row">
            <div class="col col-lg-6 text-left">
                <h4 class="primary-color-heading">TEST YOUR SKILLS AND IMPROVE</h4>
                <h1 class="section-big-heading">Our Questionnaire Test Your Knowledge and Guide You According Your Skills</h1>
                <p class="bluepara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-lg btn-edu-primary" onclick="window.location.href='/signup'">Test Yourself</button>
            </div>
            <div class="col col-lg-6 text-left">
                <img src="../assets/Images group (2).png" alt="questionnaire image">
            </div>
        </div>
    </div>
</section>
<!-- Questionnaire -->
<%- include('partials/footer') %>
