<%- include('partials/header') %>
    <script src="https://cdn.tiny.cloud/1/h67jmhzlup8m5gb0hacl6p7gg5ynszhk7kohlsrrlldhjbn3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <title>
        <% if(userType == 0){ %>
            Responses
        <% } else{ %>
            Requests
        <% } %>
    </title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="u-container" style="height: 86vh; overflow: scroll; overflow-x: hidden;">
        <% if(userType == 0){ %>
            <% if(counsellorResponses.length != 0){ %>
                <% counsellorResponses.forEach(function(response){ %>
                    <div class="mb-4 response-card">
                        <span class="date"><em>(<%=response.date.split(",")[0]%>)</em></span>
                        <h4><%=response.counsellorName%> send you response</h4>
                        <p><strong><%=response.counsellorName%> Contact Email: <%=response.counsellorEmail%></strong></p>
                        <div class="mt-3">
                            <%-response.counsellorMessage%>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h3 class="page-heading text-center">Responses are empty</h3>
            <% } %>
        <% } else if(userType == 1){ %>
            <% if(studentRequests.length != 0){ %>
                <% studentRequests.forEach(function(request){ %>
                    <div class="mb-4 response-card">
                        <span class="date"><em>(<%=request.date.split(",")[0]%>)</em></span>
                        <h4><%=request.studentName%> requested you for counselling</h4>
                        <p><strong><%=request.studentName%> Contact Email: <%=request.studentEmail%></strong></p>
                        <div class="mt-3">
                            <%-request.studentMessage%>
                        </div>
                        <div class="mt-3 mb-3">
                            <% if(request.responded == 1){ %>
                                <h5 class="edu-primary-color">You already respond this user</h5>
                            <% } else { %>
                                <form action="/user/responses" method="post" name="response">
                                    <h4>Your Response</h4>
                                    <input type="hidden" name="studentId" value="<%=request.studentId%>">
                                    <input type="hidden" name="requestId" value="<%=request._id%>">
                                    <textarea name="message" style="resize: none;" placeholder="Your Response"></textarea>
                                    <button class="btn btn-md btn-edu-secondary mt-4" type="submit">Send Response</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h3 class="page-heading text-center">Requests are empty</h3>
            <% } %>
        <% } %>
    </div>
    

    

    <script>
        // tinymce text editor function
        tinymce.init({
        selector: 'textarea',
        height: 400,
        menubar: false,
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        });
    </script>

<%- include('partials/footer') %>